@{
    ViewData["Title"] = "Home Page";
}

@model List<Slayt>

<style>
    .carousel-inner img {
        max-height: 800px;
        width: auto;
        margin: auto;
    }
</style>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        @for (int i = 0; i < Model.Count; i++)
        {
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="true" aria-label="Slide @(i + 1)"></button>
        }
    </div>
    <div class="carousel-inner">
        @foreach (var slayt in Model)
        {
            <div class="carousel-item @(slayt == Model.First() ? "active" : "")">
                <img src="~/img/@slayt.ResimYolu" class="d-block w-100" alt="@slayt.Baslik">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="fs-5 fw-bold">@slayt.Baslik</h5>
                    <p class="fs-3">@slayt.Aciklama</p>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>