@model AreaOrenk.Data.Slayt

@{
    ViewData["Title"] = "Slayt Silme Formu";
}

<h1>@ViewData["Title"]</h1>
@if (Context.Request.Query["islem"] == "basarili")
{
    <div class="alert alert-success">
        Yeni Slayt Başarıyla Silindi.
    </div>
}

<h3>Silmek istediğinizden emin misisniz?</h3>
<div>
    <h4>Slayt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResimYolu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResimYolu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sira)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="text-secondary" >Listeye Geri Dön</a>
    </form>
</div>
